NEWS_API_KEY=your_api_key_from_newsapi.org
OPENAI_API_KEY=your_api_key_from_openai.com
FREQUENCY=hourly
PAGE_SIZE=3
PAGE_COUNT=1 
SINGLE_RANDOM=true
CATEGORY_HOURS=4
CACHE_DIR=/home/root/cache
CACHE=true
SHARED_SECRET=CHANGE_ME
CF_ZONE_ID=
CF_API_TOKEN=